h2, h1 {
    color: rgb(48, 191, 151);
    font-family: 'Open Sans Bold';
}


label {
    font-family: 'Open Sans';
}

#page {
  background: rgb(236, 236, 236);
  padding: 5%;
  overflow-x: hidden;
}

#formSend {
    color: rgb(48, 191, 151);
    font-family: 'Open Sans Bold';
    font-size: 25px;
    text-align: center;
}

/**************************************************************************/
.main--content {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgb(255, 255, 255);
    padding: 32px;
}

.form--content {
    width: 450px;
    max-width: 100%;
    margin-right: 50px;
}

.form--content label {
    margin-top: 15px;
}

.form--content .form-control {
    outline: none;
    margin-top: -5px;
    resize: none;
    border: 1px solid rgb(170, 170, 170);
}

.form--content .form-control:focus {
    border: 1px solid rgb(48, 191, 151);
    box-shadow: 0 0 3px 0px rgb(48, 191, 151);
}

form .send--button {
    border: none;
    background: rgb(48, 191, 151);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'open sans bold';
    padding: 5px 20px;
    margin: 10px;
    width: 120px;
}

form .send--button:hover {
    text-decoration: none;
    background: rgb(37, 143, 113);
    cursor: pointer;
}

form .send--button:disabled {
    cursor: auto;
    background: rgb(170, 170, 170);
}

.cancel--button {
    border: 1px solid rgb(170, 170, 170);
    border-radius: 8px;
    font-size: 14px;
    font-family: 'open sans bold';
    color: rgb(170, 170, 170);
    padding: 5px 20px;
    margin: 10px;
    width: 120px;
}

.cancel--button:hover {
    color: rgb(119, 119, 119); 
}


.form--content__contact {
    border-radius: 5px;
    border: 3px solid rgba(185, 185, 185, 0.6);
    padding: 32px;
    margin-top: 20px;
}

.form--content__contact h2 {
    font-size: 20px;
}

.form--content__contact h3 {
    font-size: 18px;
}

.alert.alert-danger {
    background: none;
    border: none;
    color: red;
    padding: 0;
    font-size: 14px;
}
